:root
{    
    --primary-red: hsl(0, 100%, 74%);
    --primary-green: hsl(154, 59%, 51%);
    --text-dark: hsl(249, 10%, 26%);
    --text-gayish: hsl(246, 25%, 77%);
    --violet: hsl(248, 32%, 49%);
    --white: #FFFF;
}

*, *::after, *::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body 
{
    margin: 0; 
    padding: 0;     
    font-size: 16px;
}
 p, span, h1, h2,input, button
{
    font-family: 'Poppins', sans-serif;
}

.text-white
{    
    color: var(--white);
}