@media (min-width: 500px)
{
    .landing__message, .pop-up, .form
    {        
        width: 80%;    
        max-width: 500px;
    }    

    .pop-up
    {
        margin: 0px auto 20px auto;
    }

    .form
    {
        margin: 0px auto;
    }
}